body {font-family:Arial,sans-erif;
margin: 0;
padding: 0;
background-color: #ffffff;
}
header{
background-color: gold;
color: white;
text-align: center;
}
header a{ 
    color: aquamarine;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
    text-shadow: white;
    color: black;
    font-size: larger;

}
section{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(29, 194, 29);
}
footer{ 
    text-align: center;
    background-color : gold;
    color: black;
    padding: 10px;
    margin-top: 20px;
}
footer a{
    color: black;
    text-decoration: underline;
    margin: 0 10px;
    font-weight: bold;
}

form{
    padding: 15px;
    border-radius: 14px;
}
input[type="text"],input[type="email"]{
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #888;
    border-radius: 10px;
}
input[type="submit"]{
background-color: yellowgreen;
color: white;
padding: 10px;
border: none;
cursor: pointer;
border-radius: 5px;
}
#DelBtn{
    background-color: rgb(211, 0, 0);
    color: #ffffff;
}